.containerBlogs {
  position: relative;
  width: 100%;
  padding: 20px;
}

.containerBlogs::before {
  content: "";
  background-color:#eaf3e2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.title{
  text-align: left;
}

.img {
  width: 100%;
  max-width: 900px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 20px 0;
}

.description {
 
  @media (max-width: $mantine-breakpoint-xs) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}
