
.card {
  width: 400px;
  height: 380px;
  margin-left: 20px;
  position: relative;
  background-color: var(--mantine-color-body);
  transition: transform 0.3s ease-in-out;
  margin-bottom: 15px;
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 15px;
  }
}
.containerBlogs {
  background:#eaf3e2;
  background-image: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  width: 100%; 
  padding: 20px;
}
.card:hover {
  transform: scale(1.1);
}
.card-container {
  margin: auto;
  background-color: white;
}
.rating {
  position: absolute;
  right: rem(12px);
  pointer-events: none;
}

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
}

.footer {
  margin-top: var(--mantine-spacing-md);
}
.button {
  @media (max-width: $mantine-breakpoint-sm) {
    width: auto;
  }
}
